version: "3.2"
services:
  zero:
    image: dgraph/dgraph:latest
    volumes:
      - ./data:/dgraph
    ports:
      - 5080:5080
      - 6080:6080
    restart: on-failure
    command: dgraph zero --my=zero:5080
  alpha:
    image: dgraph/dgraph:latest
    volumes:
      - ./data:/dgraph
    ports:
      - 8080:8080
      - 9080:9080
    restart: on-failure
    command: dgraph alpha --limit "mutations=strict" --my=alpha:7080 --zero=zero:5080 --security whitelist=0.0.0.0/0
  ratel:
       image: dgraph/ratel
       restart: always
       ports: 
       - 7000:8000
